body {
  background-color: white;
  color: black;
  font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight:300;
  margin:15px;
  background:url();
  background-size:20% 40%;
  background-attachment: fixed;
  
}

a {
  background-color: #FFFF61;
  color: black;
  font-family: Helvetica;
  background-size:auto auto;
  background-attachment: fixed;
  font-style:normal;
  text-transform:none;
}

a:hover {
  background-color: #FFFFFF;
  color: black;
  font-family: Helvetica;
  background-size:auto auto;
  background-attachment: fixed;
  font-style:normal;
  text-decoration:underline;
}

#titlez a:hover {
}

box {
    background-color: white;
    width: 300px;
    padding: 25px;
    border: 1px solid gray;
    margin-left: 250px;
}

.vr{
  width: 2px; /* Line width */
  background-color: lightgray; /* Line color */
  height: 268px; /* Override in-line if you want specific height. */
  display:inline-block; /* Causes the line to float to left of content. 
    You can instead use position:absolute or display:inline-block
    if this fits better with your design */
}

.one {
    outline-style: double;
    outline-color: lightgray;
    outline-width: 1px;
    width:1000px;
    text-align:center;
    margin-top:-20px;
    background-color:white;
    z-index:999;
}
.initial{
  z-index:-10000;
}


.mainlink:hover {
  font-style:italic;
}

.socialmedia {
  position: fixed;
  bottom:5px;
  right:5px;
  background-color:white;
  color:white;
}

a .socialmedia{
  position: fixed;
  bottom:5px;
  right:5px;
  color:white;
}

.button {
    background-color: black;
    border: 2px solid black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    height:500px;
    width:150px;
    text-align:center;
    -webkit-transition-duration: 0.4s; /* Safari */
    -moz-transition-duration: 0.4s; /* Safari */
    -o-transition-duration: 0.4s; /* Safari */
    -ms-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.section {
    width:606px;
    padding:0; 
    height:300px;
    margin-top:-40px;
    margin-left:30px;
    text-align:middle;
    overflow:scroll;
    border-right: 2px solid lightgray;
}

.section1 {
    width:606px;
    padding:0; 
    height:300px;
    margin-top:-40px;
    margin-left:30px;
    text-align:middle;
    overflow:scroll;
    border-right: 2px solid lightgray;
}

.section1:hover #about3 {
    opacity:1;
    transition: opacity .3s ease-in-out;
   -moz-transition: opacity .3s ease-in-out;
   -o-transition: opacity .3s ease-in-out;
   -webkit-transition: opacity .3s ease-in-out;
   -ms-transition: opacity .3s ease-in-out;
}

#about {
    width:315px;
    padding:0; 
    height:272px;
    margin-top:0px;
    text-align:justify;
    position:absolute;
    margin-left:501px;
    /*left:60%;
    right:39%;*/
    font-size:19px;
    opacity:0;
    transition: opacity .3s ease-in-out;
   -moz-transition: opacity .3s ease-in-out;
   -o-transition: opacity .3s ease-in-out;
   -webkit-transition: opacity .3s ease-in-out;
   -ms-transition: opacity .3s ease-in-out;
}

#about3 {
    width:315px;
    padding:0; 
    height:272px;
    margin-top:0px;
    text-align:justify;
    position:absolute;
    margin-left:320px;
    margin-top:-300px;
    /*left:60%;
    right:39%;*/
    font-size:19px;
    opacity:0;
    transition: opacity .3s ease-in-out;
   -moz-transition: opacity .3s ease-in-out;
   -o-transition: opacity .3s ease-in-out;
   -webkit-transition: opacity .3s ease-in-out;
   -ms-transition: opacity .3s ease-in-out;
}


#about2 {
    width:630px;
    padding:0; 
    height:272px;
    margin-top:0px;
    text-align:justify;
    position:absolute;
    margin-left:521px;
    /*left:60%;
    right:39%;*/
    font-size:18px;
}


#thing:hover #about {
    opacity:1;
    transition: opacity .3s ease-in-out;
   -moz-transition: opacity .3s ease-in-out;
   -o-transition: opacity .3s ease-in-out;
   -webkit-transition: opacity .3s ease-in-out;
   -ms-transition: opacity .3s ease-in-out;
}

#thing a:link {
  opacity:0.7;
  text-decoration:none;
  background:none;
  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   -o-transition: opacity .25s ease-in-out;
   -ms-transition: opacity .25s ease-in-out;
}

#thing a:hover {
  opacity:1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   -o-transition: opacity .25s ease-in-out;
   -ms-transition: opacity .25s ease-in-out;
}


#thing2:active #about3 {
    opacity:1;
    transition: opacity .3s ease-in-out;
   -moz-transition: opacity .3s ease-in-out;
   -o-transition: opacity .3s ease-in-out;
   -webkit-transition: opacity .3s ease-in-out;
   -ms-transition: opacity .3s ease-in-out;
}
